<div class="rankeds-container">

    <div class="card-ranked-container">

        <div *ngIf="games.length > 0; else gamesEmpty">
            <div class="card-ranked" *ngFor="let game of games; index as i;">
                <div class="card-ranked-item">
                    <p class="position">#{{i+1}}</p>
                </div>
                <div class="card-ranked-item">
                    <p class="player-name">{{game.player | slice:0:20}}</p>
                    <p class="difficulty">{{game.difficulty}}</p>
                </div>
                <div class="card-ranked-item">
                    <p class="time">{{game.time*1000 | date:'H:mm:ss':'UTC'}}</p>
                </div>
            </div>
        </div>


        <ng-template class="games-empty-container" #gamesEmpty>
            <p class="games-empty-text">There isn't any ranked game yet. Try it finishing a game without stepping in any
                mine. Good luck!</p>
        </ng-template>

    </div>




    <app-button class="button" [button]="{text: 'Back'}" (clickEvent)="goToHome()"></app-button>
</div>