.home-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.logo-img{
    margin-top: 50px;
    width: 100vw;
    height: fit-content;
}

.buttons-container{
    width: 100%;
}

@media screen and (min-width: 640px) {
    
    .home-container{
        justify-content: space-around;
    }

}

@media screen and (min-width: 1008px){

    .logo-img{
        margin-top: 50px;
        width: 40vw;
        height: fit-content;
    }

    .home-container{
        padding: 0px 30vw;
        height: 70vh;
    }

}