<div class="home-container">
    <img src="../../../assets/images/mine-field-logo.png" alt="Mine Field Logo" class="logo-img">
    <div class="buttons-container">
        <app-button class="button" [button]="{text: 'New game'}" (clickEvent)="goToNewGame()"></app-button>
        <app-button class="button" [button]="{text: 'Rankeds'}" (clickEvent)="goToRankeds()"></app-button>
        <app-button class="button" [button]="{text: 'Tutorial'}" (clickEvent)="goToTutorial()"></app-button>
    </div>
</div>