.home-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.logo-img{
    margin-top: 50px;
    width: 100vw;
    height: fit-content;
}

.buttons-container{
    width: 100%;
}