.board-row{
    display: flex;
    justify-content: space-between;
}

.board-item{
    padding: 5px;
}


@media screen and (min-width: 1000px) {
    
    .board-row{
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
    }

}