<div class="modal-background">

    <div class="modal-container">
        <div class="modal-header">
            <p class="modal-header-title">Modal Title</p>
            <p class="modal-header-close-icon">X</p>
        </div>
        <div class="modal-body">
            <p class="modal-text">Lorem Ipsum</p>
        </div>
        <div class="modal-buttons">
            <app-button
                [text]="'Start now'"
            ></app-button>
            <app-button
                [text]="'Close'"
            ></app-button>
        </div>
    </div>

</div>