<div class="tutorial-container">
    <div class="tutorial-item">
        <p>To win the game you must step in all grounds without the mine. In a few words, if you step in any ground with
            the mine, you'll lose. But don't worry, all trodden ground will give you any tip where the mine is.</p>
    </div>
    <div class="examples-container">
        <div class="tutorial-item">
            <img src="assets/images/number-ground.jpg" alt="Image of example of a number ground">
            <p>This kind of ground say the quantity of mine around it. The example above means that has exactly 2 mines
                around it.</p>
        </div>
        <div class="tutorial-item">
            <img src="assets/images/safety-zone.jpg" alt="Image of example of a safety zone ground">
            <p>Grounds like these are called safety zone, that means that all grounds around it don't have any mine.</p>
        </div>
        <div class="tutorial-item">
            <img src="assets/images/flag-example.jpg" alt="Image of example of a flag ground">
            <p>If you are certain that a ground has a mine, you can use a flag to help you see the game better and not
                have the risk to step on the mine. The example above shows one mine around the ground with number 1.
                Thus, we are sure that the unknown ground has a mine. So, we flag the ground so that we don't have the
                probability to step it. </p>
        </div>
    </div>
    <app-button [button]="{text:'Back'}" (clickEvent)="goToHome()"></app-button>
</div>