<div class="board-game-container">
    <div class="info">
        <div class="info-container">
            <div class="info-item">
                <p>Player's name:</p>    
                <p>{{game.player}}</p>
            </div>
            <div class="info-item">
                <p>Difficulty:</p>
                <p>{{game.difficulty}}</p>
            </div>
        </div>
        <div class="info-container">
            <div class="info-item">
                <p>Empty grounds:</p>
                <p>{{game.grounds}}</p>
            </div>
            <div class="info-item">
                <p>Total mines:</p>
                <p>{{game.mines}}</p>
            </div>
        </div>
        <div class="info-container">
            <div class="info-item info-time">
                <p>Time:</p>
                <p>{{game.time}}</p>
            </div>
        </div>
    </div>
    <div class="board">
        <app-board
        [rows]="rows"
        (discoverEvent)="discover($event)"
        ></app-board>
    </div>
</div>