<div class="board-game-container">
    <div class="info">
        <div class="info-container">
            <p class="player">Player's name: <span>{{game.player}}</span></p>
            <p class="difficulty"><span>Difficulty: {{game.difficulty}}</span></p>
        </div>
        <div class="info-container">
            <p class="grounds"><span>Empty grounds: {{game.grounds}}</span></p>
            <p class="mines"><span>Total mines: {{game.mines}}</span></p>
        </div>
        <div class="info-container">
            <p class="time"><span>Time: {{game.time}}</span></p>
        </div>
    </div>
</div>