.board-game-container{
    margin-top: 70px;
}

.info-container{
    display: flex;
    justify-content: space-around;
}

.info-item{
    box-shadow: 3px 3px 5px grey;
    padding: 5px 10px;
    width: 100%;
    margin: 10px 20px;
    border: solid 1px grey;
}

.info-item>:first-child{
    font-size: 14px;
    color: #676767
}

.info-item>:nth-child(2){
    font-size: 18px;
    font-weight: bold;
}

.info-time{
    text-align: center;
}

.board {
    overflow: scroll;
    border: solid 1px #676767;
    margin: 10px 10px 0px 10px;
    height: 50vh;
}

